# General
.DS_Store
node_modules/
.env
.env.*
*.log
.next/
.cache/
coverage/
dist/
build/

# Python
.venv/
__pycache__/
*.pyc
.eggs/
*.egg-info/
.ipynb_checkpoints/

# CDK
cdk.out/
.cdk.staging/

# VS Code
.vscode/
